VITE_SUPABASE_URL=https://lmkhrrotcevetxmpikad.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxta2hycm90Y2V2ZXR4bXBpa2FkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNDg1MDAsImV4cCI6MjA4ODkyNDUwMH0.NgxQlJOYcCY-IDn3IyRyR_LShJCxuOPlopkUngViP6g
